body {
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

p {
	color: gray;
	line-height: 5%;
}
input {
	padding: 10px;
	border: 1px lightgray solid;
	color: white;
	font-weight: 900;
	border-radius: 10px;
	width: 500px;
}

button {
	margin: 10px;
	padding: 10px;
	background-color: lightGrey;
	border: 1px white solid;
	color: black;
	font-weight: 400;
	border-radius: 10px;
}

button:hover {
	background: white;
	border: 1px lightgray solid;
}
